<h1>
  {{title}}
</h1>

<div>{{ (user | async)?.uid }}</div>

<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>

<div>Recipients</div>
<ul>
  <li class="text" *ngFor="let r of recipients | async">
    {{r.name}} - {{r.phoneNumber}} - {{r.$key}}
  </li>
</ul>

<div>Messages</div>
<ul>
  <li *ngFor="let msg of pendingMessages | async">
    {{msg.message}} <br/>
    {{msg.isSent ? 'Sent': 'Pending'}} <br/>
    Recipients: <span *ngFor="let r of msg.recipients">Sent: {{r.isSent}}, Key: {{r.key}}</span>
  </li>
</ul>

<label for="newRecipientPhone">Phone</label>
<input id="newRecipientPhone" type="text" [(ngModel)]="newRecipient.phoneNumber"/>
<label for="newRecipientName">Name</label>
<input id="newRecipientName" type="text" [(ngModel)]="newRecipient.name" />
<button (click)="addPhoneNumber(newRecipient)">Add</button>

<br/>

<label for="newPendingMessage">Send Message</label>
<input id="newPendingMessage" type="text" [(ngModel)]="newPendingMessage"/>
<button (click)="addPendingMessage(newPendingMessage)">Send</button>


